.Titulo {
    text-align: center;
    color: blue;
    font-family: monospace;
    font-size: 50px;
    text-decoration: underline;
}

.TituloP {
    text-align: center;
    color: black;
    font-family: monospace;
    font-size: 50px;
    text-decoration: underline;
}

.TituloS {
    text-align: center;
    color: white;
    font-family: monospace;
    font-size: 50px;
    text-decoration: underline;
}


.Informacion {
    width: 800px;
    height: 535px;
    border: 1px solid black;
    background-color: rgb(99, 137, 226);
    margin-left: auto;
    margin-right: auto;
    border-radius: 5%;
}

.InformacionP {
    width: 800px;
    height: 365px;
    border: 1px solid black;
    background-color: rgb(67, 141, 109);
    margin-left: auto;
    margin-right: auto;
    border-radius: 5%;
}

.InformacionS {
    width: 800px;
    height: 110px;
    border: 1px solid black;
    background-color: rgb(67, 141, 109);
    margin-left: auto;
    margin-right: auto;
    border-radius: 5%;
}
.InformacionTP {
    width: 250px;
    height: 60px;
    border: 1px solid black;
    background-color: rgb(67, 141, 109);
    margin-left: 0px;
    margin-right: 0px;
    border-radius: 10%;
}

ul {
    list-style-type: square;
    display: flex;
    justify-content: center;
    align-items: center;
    color: blue;
    font-size: 20px;

}

li {
    margin: 15px;
}

.foto_Titanes_P {}


img {
    width: 800px;
    height: auto;
    border-radius: 10%;
}



a {
    text-decoration: none;
}

.Copy {
    position: absolute;
    bottom: -1000px;
    color: aliceblue;
}

.Reseñas {
    position: relative;
    top: 470px;
    left: 330px;
    width: 200px;
    height: 100px;
    width: 800px;
    height: 500px;
    border: 1px solid black;
    background-color: rgb(99, 137, 226);
    text-align: center;
   border-radius: 10%;

}

#miDiv h1 {
    width: 250px;
    height: 50px;
    border: 1px solid black;
    background-color: rgb(67, 141, 109);
    margin-left: 0px;
    margin-right: 0px;
    border-radius: 5%;
    font-size: 14px;
  }

