/* Estilos paras paginas - Infectados */

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.containerInfor {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #000000;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    height: 100%;
}

body {
    background-image: url("L1.jpeg");
    background-size: cover;
    background-position: center;
}

.containerInfor h1 {
    font-size: 36px;
    color: #FFFFFF;
}

.containerInfor p {
    font-size: 18px;
    color: #CCCCCC;
}

.containerTabla {
    max-width: 400px;
    max-height: 500px;
    margin: 0 auto;
    padding: 20px;
    background-color: #000000;
    box-shadow: 0px 0px 10px rgba(76, 209, 15, 0.2);
    height: 100%;
}

.containerTabla h1 {
    font-size: 36px;
    color: #FFFFFF;
}

.containerTabla p {
    font-size: 18px;
    color: #CCCCCC;
}

.containerTabla table {
    font-size: 18px;
    color: #CCCCCC;
}

.containerNom {
    background-color: #053805;
    color: #ffffff;
    padding: 10px;
}

.containerNom h3{
    font-size: 18px;
    color: #CCCCCC;
}